---
# clang-format documentation
# http://clang.llvm.org/docs/ClangFormat.html
# http://clang.llvm.org/docs/ClangFormatStyleOptions.html

# Preexisting formats:
# LLVM
# Google
# Chromium
# Mozilla
# WebKit

Language:        Cpp
BasedOnStyle:  Mozilla

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignTrailingComments: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BinPackArguments: false
BinPackParameters: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: false
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: false
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ColumnLimit: 0
Cpp11BracedListStyle: false
IndentWidth: 4
IndentCaseLabels: false
# KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: Inner
ReflowComments: false
PenaltyBreakBeforeFirstCallParameter: 100000
PenaltyBreakComment: 100000
SortIncludes: false
SpaceAfterTemplateKeyword: true
# Standard: Cpp11 # Broken
UseTab: Never
...
