<launch>
	
	<node name="airsim_node" pkg="airsim_ros_pkgs" type="airsim_node">
	<!-- <node pkg="nodelet" type="nodelet" name="airsim_nodelet_manager" args="manager" output="screen" /> -->
	<!-- <node pkg="nodelet" type="nodelet" name="airsim_nodelet" args="standalone airsim_ros_pkgs/airsim_ros_nodelet airsim_nodelet_manager" output="screen"> -->

		<!-- ROS timer rates. Note that timer callback will be processed at maximum possible rate, upperbounded by the following ROS params -->
		<param name="is_vulkan" type="bool" value="false" /> 
		<param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" /> 
		<param name="update_airsim_control_every_n_sec" type="double" value="0.001" />
		<param name="update_lidar_every_n_sec" type="double" value="0.01" />
	</node>

	<!-- Joystick control -->
	<node name="joy_node" pkg="joy" type="joy_node"/>
	<node name="car_joy" pkg="airsim_ros_pkgs" type="car_joy">
		<param name="manual_transmission" type="bool" value="false"/>
	</node>

	<!-- Static transforms -->
	<include file="$(find airsim_ros_pkgs)/launch/static_transforms.launch"/>
</launch>