<launch>
<!-- Vehicle limits (meters/second) -->
    <param name="max_vel_vert_abs" type="double" value="10.0" />
    <param name="max_vel_vert_abs" type="double" value="2.0" />
    <!-- <param name="max_vel_horz_abs" type="double" value="0.5" /> -->
    <!-- <param name="max_vel_horz_abs" type="double" value="0.5" /> -->
    <param name="max_yaw_rate_degree" type="double" value="1.0" />

<!-- Gimbal limits (degrees) -->
    <param name="gimbal_front_center_max_pitch" type="double" value="40.0" />
    <param name="gimbal_front_center_min_pitch" type="double" value="-130.0" />
    <param name="gimbal_front_center_max_yaw" type="double" value="320.0" />
    <param name="gimbal_front_center_min_yaw" type="double" value="-320.0" />
    <param name="gimbal_front_center_max_roll" type="double" value="20.0" />
    <param name="gimbal_front_center_min_roll" type="double" value="-20.0" />

<!-- Gimbal limits (degrees) -->
    <!-- <param name="gimbal_front_stereo_max_pitch" type="double" value="40.0" /> -->
    <!-- <param name="gimbal_front_stereo_min_pitch" type="double" value="-130.0" /> -->
    <!-- <param name="gimbal_front_stereo_max_yaw" type="double" value="320.0" /> -->
    <!-- <param name="gimbal_front_stereo_min_yaw" type="double" value="-320.0" /> -->
    <!-- <param name="gimbal_front_stereo_max_roll" type="double" value="20.0" /> -->
    <!-- <param name="gimbal_front_stereo_min_roll" type="double" value="-20.0" /> -->
</launch>